body {
    font-family: Arial, Verdana,  sans-serif; /* keluarga font */
    font-size: 11pt; /* Ukuran font utama di <p></p>  */
    background-color: #5b7781; /* Warna latar belakang laman web */
    color: #333; /* Warna teks */ 
}
h1 {
    color: #f71f1f; /* Warna tajuk */
    font-size: 24pt; /* Ukuran font tajuk */
    font-family: Georgia, Times, serif; /* Keluarga font yang digunakan di tajuk (header) */
    border-bottom: 2px solid rgb(0, 255, 81);
    padding-bottom: 5px;
    text-align: center; /* Menyelaraskan tajuk ke tengah */
}
h2 {
    color: #06425e; /* Warna tajuk */
    font-size: 24pt; /* Ukuran font tajuk */
    font-family: Georgia, Times, serif; /* Keluarga font yang digunakan di tajuk (header) */
    text-decoration-line: underline;
    text-decoration-color: blue;
    
}
/* img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
@keyframes color-change {
    0% {
      color: green;
    }
  
    50% {
      color: red;
    }
  
    100% {
      color: green;
    }
}

/* h2:hover { animation: color-change 3000s infinite;} */
p:hover { animation: color-change 1s infinite;}
/* p:hover { animation: color-change 3000s infinite;} */